@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');


/*
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    width: 1440px;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 110px 265px 0 240px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header h1 {
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 36px;
    padding-left: 3px;
    width: 278px;
}

.header .sub {
    font-family: 'Poppins', sans-serif;
    width: 439px;
}

.header .sub h2 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.header .sub p {
    font-size: 18px;
    font-weight: 400;
}

.main {
    display: grid;
    grid-template-areas: 
    "L M R"
    "L2 M2 R2";
}

#middle {
    margin: 100px 67px 115px;
}

#one {
    grid-area: L;
}

#two {
    grid-area: L2;
}

#three {
    grid-area: M;
    padding-top: 100px;
}

#four {
    grid-area: M2;
    padding-top: 100px;
}

#five {
    grid-area: R;
}

#six {
    grid-area: R2;
}

.person {
    height:383px;
    width: 264px;
    display: grid;
    grid-template-areas: 
    "A B";
    margin-top: 100px;
}

.person img {
    grid-area: A;
    width: 238px;
    height: 341px;
}

.person p {
    grid-area: B;
    writing-mode: vertical-rl;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
}

.person h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #A9A9A9;
    margin-top: 150px;
    margin-bottom: 24px;
}

@media  (max-width: 480px) {
    body {
        width: 100%;
        margin: 0;
    }

    .container {
        margin: 0;
        padding-left: 10px;
    }

    .header {
        flex-direction: column;
    }

    .header .sub {
        width: 350px;
    }

    .header h1 {
        margin-top: 70px;
        margin-bottom: 38px;
    }

    .header h2 {
        margin-bottom: 10px;
    }

    .main {
        display: grid;
        grid-template-areas: 
        "A D"
        "B E"
        "C F";
        grid-template-columns: 200px;
    }

    #one {
        grid-area: A;
    }

    #two {
        grid-area: B;
    }

    #three {
        grid-area: C;
        padding-top: 0px;
    }

    #four {
        grid-area: D;
        padding-top: 50px;
    }

    #five {
        grid-area: E;
        padding-top: 50px;
    }

    #six {
        grid-area: F;
        padding-top: 50px;
    }

    .person img {
        width: 138px;
        height: 209px;
    }

    .person {
        height: 237px;
        width: 156px;
        margin-bottom: 64px;
        margin-top: 30px;
    }

    .footer {
        margin-top: 40px;
        margin-bottom: 5px;
        font-size: 14px;
        width: 350px;
    }
}

